<html ng-app="friends_app">
<head>
<title>Full Mean Demo</title>
<!-- require angular -->
<link rel="stylesheet" href="/static/bootstrap.css">
<script type="text/javascript" src="/static/angular.js"></script>
<script type="text/javascript" src="/static/angular-route.js"></script>
<script>
	var friends_app = angular.module('friends_app', []);

	friends_app.factory('FriendFactory', function($http){
		var factory = {};
		var friends = [];
		factory.index = function(callback){
			$http.get('/friends').success(function(output){
				friends = output;
				callback(friends);
			})
		}

		factory.create = function(info, callback){
			console.log(info.name, info.age, callback)
			friends = friends.push({name: info.name, age: info.age});
			callback(friends);
		}
		return factory;
	})

	friends_app.controller('FriendsController', function($scope, FriendFactory) {
		FriendFactory.index(function(data){
			$scope.friends = data;
		})
		$scope.addfriend = function() {
			FriendFactory.create($scope.new_friend, function(){
				$scope.friends = FriendFactory.index()
				$scope.new_friend = {};
			})
		}
	})
</script>
</head>
<!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->
<body ng-controller="FriendsController">
  <h1>Friends</h1>
  <input type="text" ng-model="filter_name" placeholder="filter">
  {{filter}}
  {{friends}}
  <table class="table table-bordered table-striped">
<thead>
	<th>
		Name
	</th>
	<th>
		Age
	</th>
	<th>
		Action
	</th>
</thead>
	<tbody>
		<tr ng-repeat="friend in friends | filter: filter_name">
			<td>
			{{friend.name}} </td>
			<td>{{friend.age}}</td>
			<td></td>
   </tr>
</tbody>
 </table>
  <h1>Add a Friend</h1>
  <!-- objects and properties nothing scary -->
  <input type="text" ng-model="new_friend.name" placeholder="name">
  <input type="text" ng-model="new_friend.age" placeholder="age">
  <!-- addfriend() is a method we are going to make in the angular controller -->
  <input type="submit" ng-click="addfriend()">
</body>
</html>
