<html ng-app="friends_app">
<!-- because we need to define our angular app -->
<head>
<title>Full Mean Demo</title>
<!-- pull in angular, angular-route and bootstrap -->
<link rel="stylesheet" href="/static/bootstrap.css">
<script type="text/javascript" src="/static/angular.js"></script>
<script type="text/javascript" src="/static/angular-route.js"></script>
<script>
	//Gotta initialize our module
	var friends_app = angular.module('friends_app', ['ngRoute']);

	friends_app.config(function($routeProvider){
		$routeProvider
		.when('/', {
			templateUrl: 'partials/partial1.html'
		})
		.otherwise({redirectTo: '/'})
	})

//FACTORY
	friends_app.factory('FriendFactory', function($http){
		//make our variables so we can use them
		var factory = {};
		var friends = [];
		//get all friends, restful naming conventions
		factory.index = function(callback){
			//send HTTP request to server/database
			$http.get('/friends').success(function(friends){
				console.log('got friends', friends)
				//return friends to controller
				callback(friends);
			})
		}

		//add a new friend to the database. info is passed in from controller's scope
		factory.create = function(info, callback){
			console.log(info.name, info.age)
			//send HTTP request to server
			$http.post('/friends', info).success(function(info){

				console.log('adding friend to friends', info)
				//return friends to controller
				callback(info);
			})
		}

		factory.delete = function(info, callback){
			console.log("info=======",info)
			//send HTTP request to server
			$http.get('/friends/'+info._id).success(function(info){

				console.log('removing friend from friends', info);
				//return friends to controller
				callback(info);
			})
		}
		return factory;
	})

//CONTROLLER
	friends_app.controller('FriendsController', function($scope, FriendFactory) {
		function index(){
			FriendFactory.index(function(data){
				$scope.friends = data;
			})
		}
		index()

		$scope.addfriend = function() {
			FriendFactory.create($scope.new_friend, function($scope, FriendFactory){
				// console.log(FriendFactory.index())
				$scope.friends = index()
				$scope.new_friend = {};
			})
		}

		$scope.removeFriend = function(friend){
			console.log('in delete, friendid=', friend._id)
			FriendFactory.delete(friend, function(friend, FriendFactory){
				index()
			})
		}
	})
</script>
</head>
<!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->
<body ng-controller="FriendsController">
  <h1>Friends</h1>
  <input type="text" ng-model="filter_name" placeholder="filter">
  {{filter}}
  <!-- {{friends}} -->
  <table class="table table-bordered table-striped">
<thead>
	<th>
		Name
	</th>
	<th>
		Age
	</th>
	<th>
		Action
	</th>
</thead>
	<tbody>
		<tr ng-repeat="friend in friends | filter: filter_name">
			<td>
			{{friend.name}} </td>
			<td>{{friend.age}}</td>
			<td><a ng-click="removeFriend(friend)" href="#/friends/{{friend._id}}">remove friend</a></td>
   </tr>
</tbody>
 </table>
  <h1>Add a Friend</h1>
  <!-- objects and properties nothing scary -->
  <input type="text" ng-model="new_friend.name" placeholder="name">
  <input type="text" ng-model="new_friend.age" placeholder="age">
  <!-- addfriend() is a method we are going to make in the angular controller -->
  <input type="submit" ng-click="addfriend()">
</body>
</html>
